/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
  border-top: 1.5px solid #eee;
  padding-top: 10px;
  text-transform: capitalize;
}

h2 {
  margin-top: 18px;
  font-size: 22px;
  font-weight: 550;
  text-transform: capitalize;
}

h3 {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  text-transform: initial;
}

p {
  margin-top: 6px;
}

.page-title{
  font-size: 34px;
  font-weight: 650;
}

.page {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-right: 48px;
  max-width: 800px;
  text-align: justify;
}

.link {
  font-size: 15px;
  vertical-align: middle;
}

.tip {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin: 8px 0;
  font-size: 14px;
}

.success {
  border-left: 5px solid var(--el-color-success);
}

.danger {
  border-left: 5px solid var(--el-color-danger);
}

.warning {
  border-left: 5px solid var(--el-color-warning);
}

.channel {
  text-decoration: none;
  align-items: center;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px;
  margin: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.04);
}
.channel-icon {
  height: 32px;
  width: 32px;
  margin-right: 14px;
}

.channel:link {
  color: black;
}

/* visited link */
.channel:visited {
  color: black;
}

/* mouse over link */
.channel:hover {
  color: black;
  border: 1px solid var(--el-color-primary);
}

/* selected link */
.channel:active {
  color: black;
  border: 1px solid var(--el-color-primary);
}

.reference{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  border-top: 1.5px solid #eee;
  padding-top: 10px;
  /*font-style: italic;*/
}